@import "common/foundation/variables";
/* $Show_message_bubbles: defined as theme setting */
/* $Your_message_bubble_color: defined as theme setting */
/* $Their_message_bubble_color: defined as theme setting */
/* $Message_bubble_opacity: defined as theme setting */
/* $Show_box_shadow: defined as theme setting */
/* $Message_button_added_text: defined as theme setting */

@if $Your_message_bubble_color == "primary" {
    $Your_message-bubble-color: $primary;
}

@if $Your_message_bubble_color == "secondary" {
    $Your_message-bubble-color: $secondary;
}

@if $Your_message_bubble_color == "tertiary" {
    $Your_message-bubble-color: $tertiary;
}

@if $Your_message_bubble_color == "quaternary" {
    $Your_message-bubble-color: $quaternary;
}

@if $Other_message_bubble_color == "primary" {
    $Other_message-bubble-color: $primary;
}

@if $Other_message_bubble_color == "secondary" {
    $Other_message-bubble-color: $secondary;
}

@if $Other_message_bubble_color == "tertiary" {
    $Other_message-bubble-color: $tertiary;
}

@if $Other_message_bubble_color == "quaternary" {
    $Other_message-bubble-color: $quaternary;
}

@if ($Your_message_bubble_color == ""){
    $Your_message-bubble-color: green;
}
@if ($Other_message_bubble_color == ""){
    $Other_message-bubble-color: blue;
}

@if ($Your_message_text_color == ""){
    $Your_message_text_color: $primary;
}
@if ($Other_message_text_color == ""){
    $Other_message_text_color: $primary;
}
@if ($Your_message_text_color == "primary"){
    $Your_message_text_color: $primary;
}
@if ($Other_message_text_color == "primary"){
    $Other_message_text_color: $primary;
}
@if ($Your_message_text_color == "secondary"){
    $Your_message_text_color: $secondary;
}
@if ($Other_message_text_color == "secondary"){
    $Other_message_text_color: $secondary;
}

$Your_message-bubble-background-color: $Your_message_bubble_color;
$Other_message-bubble-background-color: $Other_message_bubble_color;

@if ($Message_bubble_opacity == "5%") {
    $Your_message-bubble-background-color: mix($Your_message_bubble_color, $secondary, 5%);
    $Other_message-bubble-background-color: mix($Other_message_bubble_color, $secondary, 5%);    
}

@if ($Message_bubble_opacity == "10%") {
    $Your_message-bubble-background-color: mix($Your_message_bubble_color, $secondary, 10%);
    $Other_message-bubble-background-color: mix($Other_message_bubble_color, $secondary, 10%);     
}

@if ($Message_bubble_opacity == "15%") {
    $Your_message-bubble-background-color: mix($Your_message_bubble_color, $secondary, 15%);
    $Other_message-bubble-background-color: mix($Other_message_bubble_color, $secondary, 15%);     
}

@if ($Message_bubble_opacity == "20%") {
    $Your_message-bubble-background-color: mix($Your_message_bubble_color, $secondary, 20%);
    $Other_message-bubble-background-color: mix($Other_message_bubble_color, $secondary, 20%);     
}

@if ($Message_bubble_opacity == "25%") {
    $Your_message-bubble-background-color: mix($Your_message_bubble_color, $secondary, 25%);
    $Other_message-bubble-background-color: mix($Other_message_bubble_color, $secondary, 25%);     
}
@if ($Message_bubble_opacity == "50%") {
    $Your_message-bubble-background-color: mix($Your_message_bubble_color, $secondary, 50%);
    $Other_message-bubble-background-color: mix($Other_message_bubble_color, $secondary, 50%);     
}
@if ($Message_bubble_opacity == "75%") {
    $Your_message-bubble-background-color: mix($Your_message_bubble_color, $secondary, 75%);
    $Other_message-bubble-background-color: mix($Other_message_bubble_color, $secondary, 75%);     
}


/* Add text to Reply buttons */
@if ($Message_button_added_text != "") {
    .archetype-private_message #topic-footer-buttons button.create:after,
    .archetype-private_message #reply-control .btn-primary:after {
        content: "#{$Message_button_added_text}";
    }
    #topic-footer-buttons .topic-footer-main-buttons>.btn .d-button-label {
        padding-right: 5px;
    }
}

@if ($Message_button_before_text != "") {
    .archetype-private_message #topic-footer-buttons button.create:before,
    .archetype-private_message #reply-control .btn-primary:before {
        content: "#{$Message_button_before_text}";
    }
    #topic-footer-buttons .topic-footer-main-buttons>.btn .d-button-label {
        padding-left: 5px;
    }
    .archetype-private_message #reply-control button.btn-primary svg {
        display: none;   
    }
}

@if $Show_message_bubbles  == "true" {
    
    .archetype-private_message div.topic-body.clearfix > div.topic-meta-data {
        padding: 5px;
    }

    .archetype-private_message .topic-body {
        border-top: 0px;
        padding: 15px 0 0 5px;
    }

    .archetype-private_message div.topic-avatar {
        border-top: 0px;
        padding-top: 5px;
        padding-bottom: 7px;
    }
    
    .archetype-private_message  .topic-body .regular {
        margin-top: 0px;
    }

    .archetype-private_message div.topic-body.clearfix > div.regular.contents > section {
        margin: 0px;
    }

       
    .archetype-private_message .topic-meta-data {
        display: flex;
        align-items: flex-start;
    }
    
    .archetype-private_message .topic-body .contents{        
        position: relative;
        display: inline-block;
    } 
    
   .archetype-private_message .topic-meta-data div {
        margin-right: 5px;
        flex: 0 1 auto;
    }
    
    /* Message bubble*/
    .archetype-private_message .topic-body .contents, .archetype-private_message div.reply{        
        background: $Other_message-bubble-background-color;
        color: $Other_message_text_color;
        border: 1px solid $primary-low-mid; 
        -webkit-border-radius: 1.5em;
            border-radius: 1.5em;
            border-top-left-radius: 0px; 
        @if $Show_box_border  == "false" {
            border: none !important;     
        }  
        @if $Show_box_shadow  == "true" {
            -webkit-box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);
        }
          max-width: 95%;
        padding: 5px;
        position: relative;
        display: inline-block;
        float: left;
    }
    
    .archetype-private_message div.current-user-post .topic-body .contents {
        color: $Your_message_text_color;
        background: $Your_message-bubble-background-color;
    }
    
    .archetype-private_message .topic-body .cooked{
        padding: 10px 10px 0 10px;
    }
    
    .archetype-private_message div.reply{
          background: $secondary;
    }
    
    .archetype-private_message .onebox {
          background: $secondary;
    }  
    
    .archetype-private_message div.topic-status-info {
          border-top: 0px;
    }      
    
    .archetype-private_message .onscreen-post {
          border-top: 0px;
    }   
}



